.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

img:hover {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.white {
  color: white;
}

.App-header {
  background-color: #CB0BEF;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.randomizer {
  display: block;
  margin: auto;
  background-color: #CB0BEF;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
}

.randomizer:hover {
  cursor: pointer;
}

input {
  margin-bottom: 5px;
}

.color-rectangle:hover {
  cursor: pointer;
}

.no-hover:hover {
  cursor: default;
}

.container {
  min-height: 40vh;
  color: white;
  margin: auto;
  display: inline-flex;
  padding: 10px;
}

.palette-div {
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
